<div class="container">

    <div class="header">
        <h3 class="text-muted">Bowling game</h3>
    </div>

    <div class="jumbotron">
        <h1>Game options</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

        <p>
            <button id="start-game" type="button" class="btn btn-lg btn-success">
                <span class="glyphicon glyphicon-ok"></span> START GAME
            </button>
        </p>
        <p>
            <button id="game-options" type="button" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-cog"></span> OPTIONS
            </button>
        </p>
    </div>

</div>