<div class="container">

    <div class="">
        <h1>Bowling game - Multiplayer
            <button id="back-to-menu-btn" class="btn btn-default pull-right" type="button">Back to menu</button>
        </h1>
        <hr>
        <div class="row">
            <div id="playersTable"></div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <label class="sr-only" for="firstName">First name</label>
                        <input type="email" class="form-control" id="firstName" placeholder="First name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="lastName">Email</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Last name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <button id="add-player-btn" type="submit" class="btn btn-default">Add player</button>
                </form>
                <!-- /input-group -->
            </div>
        </div>
        <hr>
        <div class="row">
            <button id="play-btn" class="btn btn-primary pull-right" type="button">Start the game</button>
        </div>
        <hr>
    </div>

</div>